[submodule "RestKit"]
	path = RestKit
	url = git://github.com/Yoomee/RestKit.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = https://github.com/Yoomee/SDWebImage.git
[submodule "ShareKit"]
	path = ShareKit
	url = https://github.com/Yoomee/ShareKit.git
