[submodule "RestKit"]
	path = RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "SDWebImage"]
	path = SDWebImage
	url = git://github.com/rs/SDWebImage.git
[submodule "ShareKit"]
	path = ShareKit
	url = git://github.com/ShareKit/ShareKit.git
